APP_NAME=FlexArena
APP_ENV=development
APP_URL=http://localhost:8080
APP_SECRET=change_this_secret_key_in_production_32chars

DB_HOST=db
DB_PORT=3306
DB_NAME=flexarena
DB_USER=flexarena_user
DB_PASS=FlexArena-2026_Db
DB_ROOT_PASS=FlexArena-Root-2026

MYSQL_TIMEZONE=America/Argentina/Buenos_Aires
